@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
:root{
  --primary-color:#615EFC;
  --wrapper-background-color:#F5F7F8;
  --background-color:#96C9F4;
  --font-family:"Libre Franklin", sans-serif;
  --logo-font-family:"Playwrite US Modern", sans-serif;
  --text-color:#2F3645;
  --text-secondary:#939185;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font-family);
}

.container{
  background-color: var(--background-color);
  height: 100vh;
  width:100vw;
  display: grid;
  grid-template-rows: auto 1fr;
}
.header{
  padding: 3px 0px;
  background-color: var(--wrapper-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(47,54,69,0.37);
  -moz-box-shadow: 2px 2px 5px 2px rgba(47,54,69,0.37);
  box-shadow: 2px 2px 5px 2px rgba(47,54,69,0.37);
}
.logo{
  font-family: var(--logo-font-family);
  font-size: 1.5rem;
  color: var(--text-color) ;
}
.wrapper{
  margin:10px auto;
  padding:5px;
  background-color: var(--wrapper-background-color);
  width: 400px;
  height: calc(100%-20px);
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(47,54,69,0.37);
  -moz-box-shadow: 2px 2px 5px 2px rgba(47,54,69,0.37);
  box-shadow: 2px 2px 5px 2px rgba(47,54,69,0.37);
}

button {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:var(--wrapper-background-color);
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:var(--text-color);
	font-family:var(--font-family);
	font-size:1.5rem;
	font-weight:bold;
	text-decoration:none;
  border: #276873 solid 2px;
}
button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

@media screen and (max-width: 410px) {
  .wrapper{
    width: 340px;
    padding: 5px;
  }
}